<div class="custom-header-section">
<h2>Hello world</h3>
  <p>This is a custom section in the header!
  Testing the section custimization</p>
</div>

<style>
  .custom-header-section {
    background-color:rgb(200, 137, 137);
    padding: 10px;
    text-align: center;
    text-decoration : uppercase;
  }
  h2{
    color:red;
  }
  p{
    font-size:12;
  }
</style>
